@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Source Sans Pro", sans-serif;

  --color-brand-primary: #2f4daa;
  --color-brand-secondary: #2e6ec9;
  --color-brand-dark: #2b3b6a;
  --color-brand-light: #d9e3fc;
  --color-brand-muted: #739fdb;
  --color-brand-accent: #f9b82c;
  --color-brand-orange: #f59121;
}

/* Hide default calendar picker indicator to use custom icon */
input[type="date"]::-webkit-calendar-picker-indicator {
  background: transparent;
  bottom: 0;
  color: transparent;
  cursor: pointer;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
}

/* Hide spin buttons for number inputs */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}